{% extends 'notes/index.html' %}

{% block headline %}
    <p>Categories:</p>
{% endblock %}


{% block content_categories %}
    {% if categories_list %}
        <ul>
        {% for category in categories_list %}
            <li><a href="{% url 'notes_in_category' category.id %}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No categories are available</p>
    {% endif %}
{% endblock %}


{% block content_upcoming_notes %}
    {% if upcoming_notes %}
        <ul>
        {% for note in upcoming_notes %}
            <li><a href="{% url 'view_note' note.id %}">{{ note.reminder }} ( {{ note.title }} )</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No categories are available</p>
    {% endif %}
{% endblock %}